/*
 * SPDX-FileCopyrightText: 2026 Nitesh Kumar Debnath <nitkdnath@gmail.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

workspace "browser"
workspace "terminal"
workspace "photo-tools"

binds {
    Mod+1 {
        focus-workspace "browser"
    }
    Mod+2 {
        focus-workspace "terminal"
    }
    Mod+3 {
        focus-workspace "photo-tools"
    }
}

window-rule {
	match app-id="zen-beta"
	open-on-workspace "browser"
}
window-rule {
	match app-id="zen-beta" title="AI Image Editor - Pixelcut — Zen Browser"
	match app-id="zen-beta" title="WhatsApp Business — Zen Browser"
	open-on-workspace "browser"
}
window-rule {
	match app-id="kitty"
	open-on-workspace "terminal"
}
// Open the Firefox picture-in-picture window as floating.
window-rule {
    match app-id="zen" title="^Picture-in-Picture$"

    open-floating true
}
