/*
 * SPDX-FileCopyrightText: 2025 Nitesh Kumar Debnath <nitkdnath@gmail.com
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

layer-rule {
    match namespace="dms:blurwallpaper"
    place-within-backdrop true
}